body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: #007d8b;
  --bg-secondary: #000;
  --text-color: #efefef;
  --border: 1px solid #efefef;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  padding: 5rem;
  line-height: 30pt;
}

.navbar {
  height: 3em;
  background: var(--bg);
  padding: 0 2rem;
  border-bottom: var(--border);
}

.navbar-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.navbar-item {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  padding: 1em;
  margin: 1em;
  outline: none;
  font-size: 1.4em;
  text-transform: capitalize;
  background-color: var(--bg-secondary);
}
.nav-link:hover {
  filter: brightness(1.2);
  color: #000;
}

.dropdown {
  position: absolute;
  top: 45px;
  width: 100%;
  background: var(--bg-secondary);
  border: var(--border);
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 1rem;
  transform: var(--bg-secondary) 0.2s;
}

.dropdown-column:hover {
  background-color: #159cd0;
  color: #000;
}

.img-column {
  width: 250px;
  height: 200px;
}

.img-column img {
  width: 50%;
  height: 50%;
}

.dropdown-column h4 {
}

.dropdown-column ul li a {
  font-size: 24px;
  margin-top: 12px;
  padding: 0 1em;
}

.dropdown-column ul li a:hover {
  color: #000;
}

.megaNav-enter {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-350px);
}

.megaNav-enter-active {
  width: 100%;
  transform: translate(0%);
  transition: all 300ms ease;
}

.megaNav-exit {
  position: absolute;
  left: 0;
  top: 0;
}
.megaNav-exit-active {
  width: 100%;
  transform: translateY(-400px);
  z-index: -1;
  transform: all 300ms ease;
}
